
    $primary-color: #1769ff;
    $secondary-color: #ff9900;
    $font-color: #777;
    $bg-color: #fff;
    $heading-color: #111;
    $border-radius: 6px;
    $text-shadow: 12px 10px rgb(6 5 5 / 15%);
    $border-radius-full: 35px;
    $border-color: transparent;
    $border-color-light: #eee;
    $nav-color: #212D38;
    $dropdown-color: #fff;
    $iframe-filter: grayscale(0%);
    $bg-light: #F9FBFE;
    $bg-grey: #F4F6F9;
    $footer-bg: #020202;
    $card-bg: #fff;
