//  Des style:-
$border-radius-1: 5px;
$font-size-des-1: 14px;
$font-weight:600;
$line-height:28px;
$letter-spacing:1px;
$font-size-des-2:26px;
$font-size-des-3:18px;

// header style:-

$font-size-title:70px;